* {
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 245, 220, 0.527);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
}

header{
    margin: 250px;
    border: 159px;
    padding: 91px;
}

img.profile-img {
    height: 365px;
    width: 700px;
    padding-top: 5px 5px;
}

h2 {
    font-size: 22px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    margin: 0 auto;
    width: 150px;
}

nav span {
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    margin: 10px 0;
}

nav a {
    color: brown;
}

.header {
    background-color: rgba(223, 204, 179, 0.753);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.fav-recipe li {
    margin: 0 auto;
    width: 150px;
}

.about-me {
    font-size: 18px;
    color: purple;
    opacity: 0.75;
    padding: 12px 19px;
    border: 15px;
    margin: 0 auto;
    text-align: center;
    width: 554px;
}

.title {
    margin: 15px auto;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.pull-quote {
    margin: 0 auto;
    width: 400px;
}

.contact {
    background: black;
    border: 1px solid black;
    border-radius: 3px;
    color: rgb(223, 204, 179);
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin: 0 450px;
    padding: 14px;
    text-decoration: none;
}

.contact:hover {
    background: rgba(158, 145, 127, 0.747);
    border: 1px solid black;
    color: black;
}

.motivation {
    border: 1px dotted black;
    color: black;
    font-size: 14px;
    line-height: 30px;
    padding: 20px 30px;
    margin: 30px 20px;
    text-align: center;
}

#profile {
    color: blue;
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    padding: 40px;
    background-color: rgba(223, 204, 179, 0.753);
    text-align: center;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}