header {
    margin: 0 auto;
    height: 35px;
}

.breadcrumb li {
    display: inline;
    text-transform: uppercase;
}

.breadcrumb li+li::before {
    color: #8f7e68;
    content: " > ";
}

.breadcrumb a {
    display: inline;
}