* {
    box-sizing: border-box;
}

body {
    background-color: #F6F5F2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 210px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

header img {
    height: 195px;
    margin-top: 5px;
    margin-left: 15px;
}

.container {
    border: 2px solid #DFC6DB;
    margin: 10px 260px;
}

.menu-part ul {
    margin-bottom: 5px;
}

.menu-part li {
    padding-top: 5px;
    display: flex;
}

.menu-part a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17.6px;
    letter-spacing: 2px;
    color: #B60098;
    text-decoration: none;
    font-weight: bold;

}

.menu-part a:hover {
    color: #c963b8;
}

.menu-part li+li::before {
    color: #5f5240;
    content: "";
}

.about-me {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.89);
    margin: 0 auto;
    text-align: center;
    width: 552px;
}

.about-me p {
    text-align: justify;
}

.about-me h2,
.fav-recipes h2,
.contact h2,
.fast-recipes h2 {
    margin: 0 auto;
    text-align: center;
    width: 514px;
    margin-top: 9px;
    margin-bottom: 10px;
    font-family: "Satisfy", cursive, sans-serif;
    font-size: 26px;
}

.fav-recipes {
    text-align: center;
    padding-left: 15px;
    margin-top: 10px;
}

.fav-recipes p {
    margin: 0 auto;
    margin-top: 5px;
    width: 618px;
    height: 225px;
    margin-bottom: 5px;
}


.fav-recipes h3,
.fast-recipes h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 23px;
    font-family: "Satisfy", cursive;
}

.fast-recipes p {
    margin: 0 auto;
    margin-top: 5px;
    width: 618px;
    height: 170px;
    text-align: center;
    margin-bottom: 5px;
}

.title {
    margin: 15px auto;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.pull-quote {
    margin: 0 auto;
    width: 400px;
}

.feedback {
    margin: 0 auto;
    width: 620px;
    height: 30px;
    margin: 25px auto;
}

.feedback button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 16px;
    text-decoration: none;
    box-shadow: 0px 5px;
}

button:hover {
    cursor: pointer;
}

.feedback button:active {
    margin-top: 5px;
    color: black;
    box-shadow: 0px 0px;
}

.liked {
    background-color: green;
    cursor: pointer;
    text-transform: uppercase;
}

.disliked{
    background-color: red;
    cursor: pointer;
    text-transform: uppercase;
}

.contact {
    text-align: center;
}

.botton-contact {
    background: black;
    border: 1px solid black;
    border-radius: 3px;
    color: rgb(223, 204, 179);
    font-weight: bold;
    font-size: 15px;
    display: inline-flex;
    margin: 0 auto;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.botton-contact:hover {
    background: rgba(158, 145, 127, 0.747);
    border: 1px solid black;
    color: black;
    text-align: center;
    margin-bottom: 0 auto;
}

.motivation {
    border: 1px dotted black;
    color: black;
    font-size: 14px;
    line-height: 30px;
    padding: 20px 30px;
    margin: 30px 20px;
    text-align: center;
}

.footer {
    background-color: #DFC6DB;
    text-align: center;
    display: flex;
}

.footer h3 {
  color: rgb(233, 25, 198);
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer span {
    color: black;
    font-weight: 500;
}

#profile {
    width: 1349px;
    height: 450px;
    padding: 0 0;
}

#main {
    background-color: rgba(223, 204, 179, 0.753);
    text-align: center;
}

#fast-recipes {
    height: 425px;
}

#botton-contact {
    margin-bottom: 15px;
}

#fav-recipes-dir {
    height: 450px;
}